.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  background-color: var(--primary-color);
}

.auth-box {
  text-align: center;
  width: 100%;
  max-width: 24rem; /* Equivalent to max-w-md */
  padding: 2rem; /* Equivalent to p-8 */
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 1rem; /* Equivalent to rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Equivalent to shadow-lg */
}

.form-group {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.form-group label {
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: var(--input-background);
  color: var(--input-color);
  border: 1px solid var(--secondary-color);
}

.form-group input:focus {
  outline: 2px solid var(--primary-green);
  outline-offset: -1px;
}

.auth-box a {
  color: var(--highlight-amber);
  text-decoration: none;
}

.auth-box a:hover {
  text-decoration: underline;
}

.form-group input.error {
  border-color: var(--incorrect-color);
}

.button-auth {
  margin-top: 1rem;
}

.button-auth:hover {
  background-color: var(--secondary-mint);
  color: var(--primary-green);
}

[data-theme='dark'] .button-auth:hover {
  background-color: var(--primary-green-dark);
  color: var(--button-text-color);
}