.edit-user-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 11vh;
  height: calc(100vh - 64px);
  background-color: var(--neutral-white);
}

.edit-user-button {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}