.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

.form-group {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group label {
    text-align: right;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height: 40px; /* Ensure consistent height */
    resize: vertical; /* Allow vertical resize for textarea */
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        background: var(--neutral-anthracite);
        color: var(--neutral-white);
    }

    .form-group input,
    .form-group textarea {
        background-color: var(--neutral-blue-gray);
        color: var(--neutral-white);
        border-color: var(--primary-green);
    }

    .modal-actions button {
        background-color: var(--primary-green);
        color: var(--neutral-white);
    }

    .modal-actions button:hover {
        background-color: var(--secondary-mint);
        color: var(--neutral-anthracite);
    }
}

[data-theme='light'] .modal-content {
    background: var(--primary-color);
    color: var(--text-color);
}

[data-theme='light'] .form-group input,
[data-theme='light'] .form-group textarea {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-green);
}
