.flashcards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.flashcard-scene {
    width: 100%;
    height: 150px;
    perspective: 600px;
    background-color: transparent;
    border: none;
}

.flashcard-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard-scene.flipped .flashcard-container {
    transform: rotateY(180deg);
}

.flashcard-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--flashcard-text-color);
    font-size: 1.1rem;
}

.flashcard-front {
    background-color: var(--flashcard-front-background);
    border: 1px solid var(--flashcard-front-border);
    color: var(--flashcard-text-color);
}

.flashcard-back {
    background-color: var(--flashcard-back-background);
    border: 1px solid var(--flashcard-back-border);
    transform: rotateY(180deg);
    color: var(--flashcard-back-text-color);
}

.file-card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10; /* Ensure buttons are on top */
}

.review-button {
    width: 100px;
}