.flashcards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.flashcard-scene {
    width: 100%;
    height: 150px;
    perspective: 600px;
    background-color: transparent;
    border: none;
}

.flashcard-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard-scene.flipped .flashcard-container {
    transform: rotateY(180deg);
}

.flashcard-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
}

.flashcard-front {
    background-color: var(--neutral-anthracite);
    border: 1px solid #4a5568;
}

.flashcard-back {
    background-color: #4a5568; /* A slightly lighter gray */
    border: 1px solid #2d3748;
    transform: rotateY(180deg);
}

.file-card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10; /* Ensure buttons are on top */
}
[data-theme='light'] .flashcard-face {
    color: var(--text-color);
}

[data-theme='light'] .flashcard-front {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

[data-theme='light'] .flashcard-back {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.review-button {
    width: 100px;
}