.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--modal-background);
    color: var(--modal-text-color);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 24px;
    color: var(--modal-close-button-color);
    cursor: pointer;
}

.close-button:hover {
    color: var(--modal-close-button-hover-color);
    background-color: transparent;
}

.flashcard-review-scene {
    width: 100%;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
}

.flashcard-review-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flashcard-review-scene.flipped .flashcard-review-container {
    transform: rotateY(180deg);
}

.flashcard-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    color: var(--flashcard-text-color);
}

.flashcard-front {
    background-color: var(--flashcard-front-background);
}

.flashcard-back {
    background-color: var(--flashcard-back-background);
    transform: rotateY(180deg);
}

.review-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.tag-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.tag-selection select {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: var(--modal-input-background);
    color: var(--modal-text-color);
    border: 1px solid var(--modal-input-border-color);
}
.tag-selection button {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}