.info-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.info-dialog {
  background-color: var(--neutral-anthracite);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 500px;
  text-align: center;
  font-size: 1.1rem;
}

.dialog-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.dialog-buttons button.primary {
  background-color: var(--primary-green);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.dialog-buttons button.primary:hover {
  filter: brightness(90%);
}
[data-theme='light'] .info-dialog {
  background-color: var(--primary-color);
  color: var(--text-color);
}

[data-theme='light'] .dialog-buttons button.primary {
  color: var(--text-color);
}