.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;
}
.lernkarten-input {
  background-color: white !important;
  color: black !important;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.lernkarten-input:-webkit-autofill,
.lernkarten-input:-webkit-autofill:hover,
.lernkarten-input:-webkit-autofill:focus,
.lernkarten-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}
