.main-dashboard {
  padding: 20px;
}

.dashboard-section {
  margin-bottom: 20px;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.file-title {
  font-weight: bold;
}

.file-type {
  font-style: italic;
  color: #666;
}
[data-theme='light'] .file-item {
  border-bottom: 1px solid var(--secondary-color);
}

[data-theme='light'] .file-type {
  color: var(--text-color);
}