.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--modal-background);
    color: var(--modal-text-color);
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 24px;
    color: var(--modal-close-button-color);
    cursor: pointer;
}

.close-button:hover {
    color: var(--modal-close-button-hover-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.modal-content .title-form-group input {
    width: 100%;
    color: var(--modal-text-color);
    background-color: var(--modal-input-background);
    border: 1px solid var(--modal-input-border-color);
    padding: 8px;
    box-sizing: border-box;
}

.question-block {
    border: 1px solid var(--modal-question-block-border-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-header input {
    flex-grow: 1;
}

.answer-block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.delete-quiz-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

.answer-block input[type="radio"] {
    margin-right: 10px;
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
}

.answer-block input[type="text"] {
    flex-grow: 1;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.add-question-btn,
.add-answer-btn {
    background-color: var(--secondary-mint);
    color: var(--neutral-anthracite);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.add-question-btn:hover,
.add-answer-btn:hover {
    background-color: var(--primary-green);
    color: var(--neutral-white);
}