.settings-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it's on top of other content */
}

.settings-box {
  text-align: center;
  width: 100%;
  max-width: 24rem; /* Equivalent to max-w-md */
  padding: 2rem; /* Equivalent to p-8 */
  background-color: var(--neutral-anthracite);
  color: var(--neutral-white);
  border-radius: 1rem; /* Equivalent to rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Equivalent to shadow-lg */
}

.form-group {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.form-group label {
  text-align: left;
}

.button-auth {
  margin-top: 1rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
}
.settings-box {
  position: relative;
  /* ... other styles ... */
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.close-button:hover {
  color: #800000;
}
[data-theme='light'] .settings-box {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#light-mode-switch {
  width: 20px;
  height: 20px;
}