.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--neutral-white);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: var(--neutral-anthracite);
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: var(--neutral-white);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--neutral-white);
  margin-right: 2rem;
}

.navbar-nav {
  display: flex;
}

.navbar-nav button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--neutral-white);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.navbar-nav button:hover {
  background-color: var(--primary-green);
  color: var(--neutral-white);
}

.navbar-nav button.active {
  background-color: var(--primary-green);
  color: var(--neutral-white);
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.main-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.navbar-nav .nav-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1rem;
  transition: background-color 0.2s;
}

.navbar-nav .nav-icon-button:hover {
  background-color: var(--primary-green);
}

.navbar-nav .nav-icon-button svg {
  color: var(--neutral-white);
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1rem;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #dc2626; /* red-600 */
}

.logout-button svg {
  color: var(--neutral-white);
}
